/*------------------------------------------ MAIN LOGO ---------------------------------------------------*/
.logo
{
   background-color: black
}
/*----------------------------------------- VIDEO IMG ---------------------------------------------------*/
.album
{
    height: 16%;
    width: 28%
}
/*--------------------------------------- ALBUM COLUMN 1 -------------------------------------------------*/
.column1
{
   color: blue;
}
/*--------------------------------------- ALBUM COLUMN 2 -------------------------------------------------*/
.column2
{
   color: green

}
/*--------------------------------------- ALBUM COLUMN 2 -------------------------------------------------*/
.headstyle
{
   color: #ffc4a3;
   background-color: #862a5c
}

.pad
{
    padding: 10px
}