/*------------------------------------------- BODY ----------------------------------------------------------*/
body
{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffa299
}
/*------------------------------------------- PARAGRAPH -----------------------------------------------------*/
p
{
    margin-top: 0;
    margin-bottom: 0;
}
/*------------------------------------------- HEADER DIV ---------------------------------------------------*/
.menu
{
    padding: 5px;
    background-color: #fee2b3;
}
/*------------------------------------------- HR TAG ------------------------------------------------------*/
hr
{
    display: block;
    size: 3px;
}
/*--------------------------------------- HEADING STYLE --------------------------------------------------*/
.headtext
{
   color: #f9f9f9;
}
/*--------------------------------------- HOME SPAN-------------------------------------------------------*/
span
{
    margin: 2px
}