<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <title>Ashtracks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'CSS\index.css ' %}">
    <link rel="stylesheet" href="{% static 'CSS\common.css ' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<!----------------------------------------- navigation bar ------------------------------------------------------------>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'images\logo.jpg' %}" width="50" height="50"
                                              alt=" oops!! image couldn't be loaded"
                                              loading="lazy"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><h3>Home</h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about_us' %}"><h3>About Us</h3></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}"><h3>Contact Me</h3></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news' %}"><h3>Event News</h3></a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.instagram.com/ash_tracks/?hl=en"><img
                            src="{% static 'images\insta64.png' %}" width="30"
                            height="30"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"
                       href="https://www.facebook.com/Electro-Digi-Music-150463045890024/?modal=admin_todo_tour"><h3>
                        <img src="{% static 'images\facebook64.png' %}" width="30"
                             height="30"></h3></a>
                </li>
                <li class="nav-item active" style=" margin-top: 10px">
                    <form action="{% url 'register' %}" class="inline">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><h2>Register Now!</h2>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!----------------------------------------- IMAGE ABOUT ME ------------------------------------------------------------>
<div>
    <hr>
    <center>
        <img height="400" width="400" class="img-rounded" src="{% static 'images\about me.jpg ' %}">
    </center>
    <hr>
    <!----------------------------------------- ABOUT ME MESSAGE ------------------------------------------------------>
    <p style="color: #142850; font-size: 20px; font-family: Lato">
        <strong>Hi there, I'm Anush Serrao Aka DJ Ashlin. The founder and owner of label Records <em>ASHTRACKS</em>.
            It was found in the year 2015 when i was learning about DAWs(Digital Audio Workstation). I always had an
            interest in the field of music which was a very good field of entertainment and happiness i personally
            found myself happy and enjoying when i made music and played it for others.
        </strong>
    </p>
</div>
<!--------------------------------------- OUR RECORD PARTNERS --------------------------------------------------------->
<div>
    <center>
        <h3 class="headstyle">OUR RECORD PARTNERS</h3>
    </center>
</div>
<hr>
<center>
    <table>
        <tr>
            <td style="padding: 20px">
                <a href="https://stmpdrcrds.com/"><img src="{% static 'images\stmprcds.png' %}" height="200" width="200"></a>
            </td style="padding: 20px">
            <td>
                <a href="https://www.tomorrowland.com/global/"><img src="{% static 'images\tommrowland.jpg' %}"
                                                                    height="200" width="200"></a>
            </td>
            <td style="padding: 20px">
                <a href="https://ultramusicfestival.com/"><img src="{% static 'images\ultra.jpg' %}" height="200"
                                                               width="200"></a>
            </td>
        </tr>
    </table>
</center>

<hr>
<!-------------------------------------------------- AFTER MOVIE ------------------------------------------------------>
<div>
    <center>
        <h3 class="headstyle">AFTER MOVIE</h3>
    </center>
</div>
<div style="margin-bottom: 50px">
    <center>
        <video width="1000" height="600" controls>
            <source src="{% static 'videos\y2mate.com - Tomorrowland 2013 _ official aftermovie_cUhPA5qIxDQ_360p.mp4'%}"
                    type="video/mp4">
        </video>
    </center>
</div>
<!-------------------------------------------------- FOOTER BAR ------------------------------------------------------->
<div class="card-footer bg-transparent border-success">
    <center>
        <p style=" color: red ">
            copyrights is set for this page by AshTracks.Rcds
        </p>
    </center>
</div>
</body>
</html>
