<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'CSS\index.css ' %}">
    <link rel="stylesheet" href="{% static 'CSS\common.css ' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Ashtracks</title>
</head>
<body>
<!----------------------------------------- navigation bar ------------------------------------------------------------>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'images\logo.jpg' %}" width="50" height="50"
                                              alt=" oops!! image couldn't be loaded"
                                              loading="lazy"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><h3>Home</h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about_us' %}"><h3>About Us</h3></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}"><h3>Contact Me</h3></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news' %}"><h3>Event News</h3></a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.instagram.com/ash_tracks/?hl=en"><img
                            src="{% static 'images\insta64.png' %}" width="30"
                            height="30"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"
                       href="https://www.facebook.com/Electro-Digi-Music-150463045890024/?modal=admin_todo_tour"><h3>
                        <img src="{% static 'images\facebook64.png' %}" width="30"
                             height="30"></h3></a>
                </li>
                <li class="nav-item active" style=" margin-top: 10px">
                    <form action="{% url 'register' %}" class="inline">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><h2>Register Now!</h2>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!---------------------------------------------- REGISTER FORM -------------------------------------------------------->
<div style="margin-top: 40px">
    <center>
        <p>
        <h3 style=" color: #0e9aa7">
            REGISTER NOW!!! For a collab and to have fun together<br>
            with many other young artists
        </h3>
        </p>
    </center>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input name='email' class="form-control" type="email" id="example-email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">FullName</label>
                    <div class="col-10">
                        <input name='fullname' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Describe Your Love For Music</label>
                    <div class="col-10">
                        <textarea name='discription' class="form-control"></textarea>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-outline-danger">Register</button>
                </div>

            </form>
        </div>
    </div>

</div>
<!----------------------------------------------- CONTACT ME PICS ----------------------------------------------------->
<center>
    <p style=" margin-top: 20px; margin-bottom: 20px; ">
    <h2 style=" color: #562349; font-family: lato; font-size: 30px;" >
        AshTracks
    </h2>
    </p>
    <table style=" margin-bottom: 80px">
        <tr>
            <td style=" padding-right: 20px">
                <img src="{% static 'images\registernow2.jpg' %}" height="200" width="400">
            </td>
            <td style=" padding-right: 20px">
                <img src="{% static 'images\registernow3.jpg' %}" height="200" width="400">
            </td>
            <td style=" padding-right: 20px">
                <img src="{% static 'images\registernow4.jpg' %}" height="200" width="400">
            </td>
        </tr>
    </table>
</center>
<!-------------------------------------------------- FOOTER BAR ------------------------------------------------------->
<div class="card-footer bg-transparent border-success">
    <center>
        <p style=" color: red ">
            copyrights is set for this page by AshTracks.Rcds
        </p>
    </center>
</div>
</body>
</html>